<!--inbox.html-->
<!DOCTYPE html>
<html>
<head>
    <title>ポスト</title>
</head>
<body>
    <h1>ポスト</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    <strong>消印:</strong> {{ message.postmark_timestamp }}<br>
                    <strong>差出人:</strong> {{ message.sender_name }}<br>
                    <strong>宛名:</strong> {{ message.recipient_name }}<br>
                    <strong>本文:</strong> {{ message.body }}<br>
                    <strong>宛先住所:</strong> {{ message.recipient_address }}<br>
                    <strong>差出人住所:</strong> {{ message.sender_address }}<br>
                    <!--{# <form action="{{ url_for('message.mark_as_delivered', message_id=message.id) }}" method="post">
                        <button type="submit">Mark as Delivered</button>
                    </form>#} -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>手紙は入っていません</p>
    {% endif %}

    <form action="{{ url_for('message.mark_as_read') }}" method="post">
        <button type="submit">手紙をうけとる</button>
    </form>
    <a href="{{ url_for('main.mypage') }}">マイページに戻る</a>
</body>
</html>