<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<section class="header">
    <form class="container" method="post">
            <h1>新規登録</h1>
                <!--メールアドレス入力（必須）-->
            <div class="form-group is-error1 is-error2 is-required">
                <label class="form-group-label" for="input-email">
                    <span class="form-group-label-item">メールアドレス</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="email" id="input-email" name="email" required placeholder="example@example.com" value="{{ email|default('') }}">      
                {% for error in error_email %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  

                <!--ユーザーID入力（任意）-->
            <div class="form-group is-error1 is-error2 is-required">
                <label class="form-group-label" for="input-user-id">
                    <span class="form-group-label-item">ユーザーID(任意)(英数字及び_.が使用できます)</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="text" id="input-user-id" name="user-id" placeholder="example_user" value="{{ user_id|default('') }}">      
                {% for error in error_user_id %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  


            <!--パスワード入力（必須）-->
            <div class="form-group is-error1 is-error2 is-required">
                <label class="form-group-label" for="input-password">
                    <span class="form-group-label-item">パスワード(英数字及び!@#$%^&*_-が使用できます)(最低8文字)</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="password" id="input-password" name="password" required placeholder="••••••••">      
                {% for error in error_password %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  
            
                      <!--パスワード確認（必須）-->
            <div class="form-group is-error1 is-error2 is-required">
                <label class="form-group-label" for="input-password-confirm">
                    <span class="form-group-label-item">パスワード確認</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="password" id="input-password-confirm" name="password-confirm" required placeholder="••••••••">      
                {% for error in error_password_confirm %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  

            <!--ユーザーネーム入力（必須）-->
              <div class="form-group is-error1 is-error2 is-required">
                <label class="form-group-label" for="input-username">
                    <span class="form-group-label-item">ユーザーネーム(上限５０文字)</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="text" id="input-username" name="username" required placeholder="かばやきさんたろう" value="{{ username|default('') }}">      
                {% for error in error_username %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  


            <!--好きな食べ物入力（任意）-->
            <div class="form-group is-error1 is-error2">
                <label class="form-group-label" for="input-favorite-food">
                    <span class="form-group-label-item">好きな食べ物</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="text" id="input-favorite-food" name="favorite-food" placeholder="あんかけチャーハン" value="{{ favorite_food|default('') }}">      
                {% for error in error_favorite_food %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>  

            <!--趣味入力（任意）-->
            <div class="form-group is-error1 is-error2">
                <label class="form-group-label" for="input-hobby">
                    <span class="form-group-label-item">趣味</span><span class="form-group-required">(必須)</span>
                </label>
                 
                <input class="form-group-input" type="text" id="input-hobby" name="hobby" placeholder="読書" value="{{ hobby|default('') }}">      
                {% for error in error_hobby %}
                    <p class="error-text1">{{ error }}</p>
                {% endfor %}
            </div>
         <p class="text">すでにアカウントを持っていますか？<a href="{{ url_for('auth.login') }}">ここをクリック</a>してサインインしましょう！</p>
            <button class="submit-button" type="submit"><span class="button-text">新規登録</span></button> 
    </form>
   </section>
</body>
</html>
